body { font-family: Helvetica; font-size: .9em;}
.wrapper {width: 90%; margin: 0 auto;}

table {text-align: left; width: 100%}
th {padding: 10px 0px;}
td, text {padding: 3px 20px 3px 0px;}

#filterContainer { margin-top: 2em; margin-bottom: 0.5em;}
#siteTableFilter {margin: 12px 0px; border: none; border-bottom: 1px solid #333; background-color: transparent; padding: 0px; font-size: 13px; height: 22px;}

.noMatches {margin-left: 20px; font-size: .8em; font-style: italic; visibility: hidden;}

p a, a {color: #333; text-decoration: none; padding-bottom: 0px; border-bottom: 1px #FD9393 solid;}

a.button {border: none; text-decoration: none;}
.button {padding: 5px 5px; background-color: #BEBEBE; font-size: 12px; color: #fff;}
.button:hover {background: #B9FCFC; color: #47CCFC;}

#Pagination {background: #eee;}
.pagination-next, .pagination-pre {cursor: hand;}
.no-pag {color: #acacac;}

#map {width: 500px; height: 500px;}

.fauxButton {padding: 5px 5px; background-color: #FF4646; font-size: 11px; color: #fff; display: inline-block;}
.fauxButton .selected {background-color: #FF4646;}
.colorText {color: #FF4646; text-transform: uppercase; font-weight: 700;}
.hideRow {display: none;}
.selectedRow {color: #FF4C0D;}
.category {text-transform: uppercase; font-size: 9px; letter-spacing: .2em; padding-right: 6px;}


/* selectedEvent */
#selectedEvent { display: inline-block; vertical-align: top; width: 80%; padding-left: 1em; }
#selectedEvent ul { list-style: none; margin-bottom: 1em; padding: 0; }
#selectedEvent li { margin-bottom: 0.5em; }
#selectedEvent .category { text-transform: uppercase; margin-bottom: 1em; color: #aaa; }

/* event logo */
#eventLogo { width: 200px; max-width: 100%; display: inline-block;  vertical-align: top; }